body{
    background-image: url("slike/regi.jpg") ;
    background-size:cover;
    text-align: center;
    align-content: center;
    font-family: Georgia, serif;
}


.regForm{
    padding-top: 25px;
    margin: auto;
    width: 500px;
    height: 300px;
    text-align: center;
    color: wheat;
    
}

h1{
    font-size: 30px;
    background-color: sienna;
    margin-left: 40px;
    margin-right: 40px;
}

.text-login{
    font-size: 20px;
    font-family: Georgia, serif;
    text-shadow: 2px 2px sienna;
}

.input-login{
    color:sienna;
    background-color: wheat;
    border-color: sienna;
    font-family: Georgia, serif;
}

.buttons-div{
    margin-top: 30px;
}

.button-login{
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    background-color: sienna;
    border-color: wheat;
    color: wheat;
    font-weight:bold;
}

.button-login:active{
    background-color: wheat;
    color: sienna;
    border-color: wheat;
}

.button-login:hover{
    width: 250px;
    height: 30px;
    background-color: wheat;
    color: sienna;
    border-color: wheat;
}